html,body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.x-center {
  display: flex;
  justify-content: center;
}

.y-center {
  display: flex;
  align-items: center;
}

//垂直方向居中
.yx-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.xy-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.y-center__between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.bottom-line {
	width: 100%;
	height: 3px;
	background: #f2f2f2;
}

@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: .6;
  }
  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: .6;
  }
  to {
    opacity: 1.0;
  }
}

// 选择180度
@keyframes rotate-opposite {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@-webkit-keyframes rotate-opposite {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@font-face {
  font-family: 'iconfont';  /* project id 1541787 */
  src: url('//at.alicdn.com/t/font_1541787_5m1rtt5vyqq.eot');
  src: url('//at.alicdn.com/t/font_1541787_5m1rtt5vyqq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1541787_5m1rtt5vyqq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1541787_5m1rtt5vyqq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1541787_5m1rtt5vyqq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1541787_5m1rtt5vyqq.svg#iconfont') format('svg');
}

.loading-tips {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67C23A !important;

    p {
        margin-left: 15px;
    }
}

::-webkit-scrollbar {
    width: 8px; /* 纵向滚动条*/
    height: 8px; /* 横向滚动条 */
    //background-color: #fff;
}

/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background: #f2f2f2;
    opacity: 0;
    //background-color: #ccc;
}

/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb {
    //border-radius: 10px;
    border-radius: 6px;
    opacity: 0;
    cursor: pointer;
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:window-inactive {
    /*当焦点不在当前区域滑块的状态*/
    border-radius: 0;
}

//.global-scrollbar {
//    &::-webkit-scrollbar {
//        width: 8px; /* 纵向滚动条*/
//        height: 8px; /* 横向滚动条 */
//        //background-color: #fff;
//    }
//    /*定义滚动条轨道 内阴影*/
//    &::-webkit-scrollbar-track {
//        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
//        background: #f2f2f2;
//        opacity: 0;
//        //background-color: #ccc;
//    }
//    /*定义滑块 内阴影*/
//    &::-webkit-scrollbar-thumb {
//        //border-radius: 10px;
//        border-radius: 6px;
//        opacity: 0;
//        cursor: pointer;
//        background-color: #ccc;
//    }
//    &::-webkit-scrollbar-thumb:window-inactive {
//        /*当焦点不在当前区域滑块的状态*/
//        border-radius: 0;
//    }
//}


